.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

tspan{
  font-family: "-apple-system, BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  font-size: 1em;
  font-style: normal;
}

.App-link {
  color: #61dafb;
}

/* .nodeAttributesBase{
  fill: none;
  stroke: none;
} */

svg{
  display: block;
  margin: auto
}

g {
  transform: translate(184, 138) scale(1, 1) !important;
}
